<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>HOMEPAGE</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <!-- <script>
            tailwind.config = {
                theme: {
                    extend: {
                        colors: {
                            clifford: '#da373d',
                        },
                    },
                },
            };
        </script>
        <style type="text/tailwindcss">
            @layer utilities {
                .content-auto {
                    content-visibility: auto;
                }
            }
        </style> -->
    </head>
    <body class="bg-orange-50">
        <!-- <div class="lg:content-auto">
        </div> -->
        <section class="relative py-20 overflow-hidden">
            <div class="container px-4 mx-auto flex flex-col">
                <div class="flex content-center">
                    <a
                        href="/"
                        class="relative group flex items-center justify-center rounded-lg bg-red-100 px-2 py-1 text-center text-sm font-medium text-red-900 hover:bg-red-200 focus:outline-none focus-visible:ring focus-visible:ring-red-500 focus-visible:ring-opacity-75 overflow-hidden"
                    >
                        <!-- <div
                            class="absolute top-0 right-full w-full h-full bg-red-900 transform group-hover:translate-x-full group-hover:scale-102 transition duration-500 text-white-900"
                        ></div> -->
                        <div class="relative flex items-center justify-center">
                            <span>Back to home</span>
                        </div>
                    </a>
                </div>
                <div class="max-w-3xl mx-auto mb-18 text-center">
                    <span
                        class="inline-block py-1 px-3 mb-4 text-xs font-semibold bg-red-600 text-red-100 rounded-full"
                        >Payment cancel</span
                    >
                    <h1
                        class="font-heading mb-10 text-xl font-bold text-gray-900"
                    >
                        <span>Your payment has been </span>
                        <span class="font-serif italic">cancelled</span>
                        <span
                            >If you have any questions, please contact us at
                            <a href="mailto:">example.com</a></span
                        >
                    </h1>
                </div>
            </div>
        </section>
    </body>
</html>
